@charset "UTF-8";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 20px;
}

.container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    color: #00FF00;
    text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00;
}

.form-create-post {
    margin-top: 20px;
    width: 100%;
}

.input-field {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 2px solid #00FF00;
    background-color: transparent;
    color: #00FF00;
    font-size: 16px;
    outline: none;
    text-align: center;
}

.input-field::placeholder {
    color: #00FF00;
}

textarea.input-field {
    height: 150px;
}

.btn-publish {
    background-color: #00FF00;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-publish:hover {
    background-color: #00CC00;
    transform: scale(1.05);
}