@charset "UTF-8";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 100%;
}

.logo {
    font-size: 80px;
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00, 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00;
    margin-bottom: 40px;
}

.input-field {
    display: block;
    margin: 15px auto;
    padding: 15px;
    border-radius: 25px;
    border: 2px solid #00FF00;
    width: 80%;
    background-color: transparent;
    color: #00FF00;
    font-size: 18px;
    outline: none;
    text-align: center;
}

.input-field::placeholder {
    color: #00FF00;
}

.btn-register, .btn-account {
    background-color: #00FF00;
    color: black;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-register:hover, .btn-account:hover {
    background-color: #00CC00;
    transform: scale(1.05);
}

.btn-account {
    margin-top: 10px;
}
